# База данных
DB_HOST=localhost
DB_PORT=5432
DB_NAME=atelier_db
DB_USER=postgres
DB_PASSWORD=your_password

# FastAPI
SECRET_KEY=your_super_secret_key_here
DEBUG=True

# Telegram Bot
BOT_TOKEN=your_bot_token_here
WEBHOOK_URL=https://yourdomain.com/webhook

# ЮKassa
YOOKASSA_SHOP_ID=your_shop_id
YOOKASSA_SECRET_KEY=your_secret_key


## Админка
ADMIN_USERNAME=admin
ADMIN_PASSWORD=придумай_сложный_пароль
BASSE_URL=